{% extends "base.html" %}
{% block title %}N1-problem{% endblock %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'flora/n1solution.css' %}">
{% endblock %} 

{% block content %}
    <h1>N1-solution</h1>
    <table>
        <tr>
            <th>Plant</th>
            <th>Discoverer</th>
        </tr>
        {% for plant in plants %}
            <tr>
                <td>{{ plant.name }}</td>
                <td>{{ plant.discoverer.first_name }}</td>
            </tr>
        
    {% endfor %}
</table>
{% endblock %}
